apiVersion: v1
kind: ServiceAccount
metadata:
  name: aws-load-balancer-controller
  namespace: kube-system
  annotations:
    # keep your role ARN here (this maps the k8s serviceaccount to IAM role via IRSA)
    eks.amazonaws.com/role-arn: arn:aws:iam::052988671062:role/ShahabALBRole
